<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbdx.xyzp.mapper.JobMapper">
    <select id="getJob" resultType="com.zbdx.xyzp.model.dto.JobDTO">
        select * from job
    </select>
    <select id="pageJob" resultType="com.zbdx.xyzp.model.dto.JobDTO">
        select * from job
        where 1=1
        <if test="param.jobName != null and param.jobName !=''">
            and job_name like concat('%' , #{param.jobName} , '%')
        </if>
        <if test="param.jobType != null and param.jobType !=''">
            and job_type = #{param.jobType}
        </if>
        <if test="param.educationRequirement != null and param.educationRequirement !=''">
            and education_requirement = #{param.educationRequirement}
        </if>
        <if test="param.workPosition != null and param.workPosition !=''">
            and work_position = #{param.workPosition}
        </if>
    </select>
    <select id="getJobType" parameterType="com.zbdx.xyzp.model.dto.JobDTO" resultType="java.util.HashMap">
        select distinct job_type from job group by job_type
    </select>
    <select id="getWorkPosition" parameterType="com.zbdx.xyzp.model.dto.JobDTO" resultType="java.util.HashMap">
        select distinct work_position from job group by work_position
    </select>
    <select id="getEducationRequirement" parameterType="com.zbdx.xyzp.model.dto.JobDTO" resultType="java.util.HashMap">
        select distinct education_requirement from job group by education_requirement
    </select>
    <select id="jobAndCompanyDetailByjobName" resultType="com.zbdx.xyzp.model.dto.JobDTO">
        select j.* , c.* from job j
        left join company c
        on j.belong_company = c.company_name
        where job_name = #{jobName}
    </select>
</mapper>